@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic,600,600italic,700,700italic");
html, body {
  width: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0; }
* {
  box-sizing: border-box; }
body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #F4F4F4;
  font-size: 1.1em; }
  body a {
    color: inherit;
    text-decoration: none; }
    body a:hover {
      color: inherit;
      text-decoration: none; }
section {
  width: 100%; }
  section .content {
    width: 70%;
    margin: 0 auto; }
    section .content .sam {
      letter-spacing: 0.1em;
      line-height: 1.75em;
      text-transform: uppercase;
      text-align: center;
      padding: 15px;
      font-size: 34pt;
      color: #951856; }
  @media (max-width: 700px) {
    section .content {
      width: 95%; }
      section .content .sam {
        font-size: 20pt; } }
.topnav {
  background-color: rgba(244, 244, 244, 0.9);
  color: black;
  width: 100%;
  display: inline-flex;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  z-index: 100;
  box-shadow: 0 0px 5px 2px #C0C0C0; }
  .topnav a {
    margin: 20px;
    min-width: 120px; }
  @media (max-width: 900px) {
    .topnav {
      flex-wrap: wrap;
      padding-top: 3px; }
      .topnav a {
        margin: 7px 0px 10px 0px;
        min-width: 25%;
        font-size: 1.1em; } }
#header {
  display: flex;
  height: 100vh;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  position: relative; }
  #header .content {
    margin: 0 auto;
    display: flex;
    z-index: 5;
    position: relative; }
    @media (max-width: 700px) {
      #header .content {
        width: 95%;
        flex-wrap: wrap; }
        #header .content .logo {
          flex: 100%; }
        #header .content .text {
          display: none; } }
    #header .content .logo {
      flex: 50%;
      width: 50%;
      text-align: center;
      min-width: 355px; }
      #header .content .logo .text {
        text-align: center;
        font-size: 1.7em;
        color: #B53C76; }
      @media (max-width: 700px) {
        #header .content .logo img {
          width: 70%; } }
    #header .content .text {
      flex: 50%;
      text-align: center; }
      #header .content .text .signup {
        font-size: 1.7em; }
      #header .content .text .regbutton {
        display: inline-block;
        width: 240px;
        margin: 0 auto;
        margin: 15px;
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid #951856;
        border-radius: 2px;
        padding: 10px;
        font-size: 1.5em;
        text-align: center;
        transition: all 0.25s; }
        @media (max-width: 800px) {
          #header .content .text .regbutton {
            display: inline-block;
            width: 200px;
            font-size: 1.7em; } }
        #header .content .text .regbutton:hover {
          background-color: rgba(0, 0, 0, 0.8);
          color: white;
          border-radius: 2px; }
#math {
  background-color: #B53C76;
  padding-bottom: 30px; }
  #math .title {
    letter-spacing: 0.1em;
    line-height: 1.75em;
    text-transform: uppercase;
    text-align: center;
    padding: 15px;
    font-size: 34pt;
    color: white; }
  #math .flex-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between; }
    #math .flex-container .title {
      letter-spacing: 0.1em;
      line-height: 1.75em;
      text-transform: uppercase;
      text-align: center;
      padding: 15px;
      font-size: 34pt;
      color: white; }
    #math .flex-container .flex-box {
      flex: 45%;
      width: 45%;
      background-color: #F4F4F4;
      margin: 10px;
      padding: 15px;
      box-shadow: 0 0 15px grey;
      border-radius: 2px; }
      #math .flex-container .flex-box .icons {
        text-align: center; }
      #math .flex-container .flex-box .subtitle {
        text-align: center;
        font-size: 1.4em;
        color: #951856 } }
#english {
  background-color: #B53C76;
  padding-bottom: 30px; }
  #english .title {
    letter-spacing: 0.1em;
    line-height: 1.75em;
    text-transform: uppercase;
    text-align: center;
    padding: 15px;
    font-size: 34pt;
    color: white; }
  #english .flex-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between; }
    #english .flex-container .title {
      letter-spacing: 0.1em;
      line-height: 1.75em;
      text-transform: uppercase;
      text-align: center;
      padding: 15px;
      font-size: 34pt;
      color: white; }
    #english .flex-container .flex-box {
      flex: 45%;
      width: 45%;
      background-color: #F4F4F4;
      margin: 10px;
      padding: 15px;
      box-shadow: 0 0 15px grey;
      border-radius: 2px; }
      #english .flex-container .flex-box .icons {
        text-align: center; }
      #english .flex-container .flex-box .subtitle {
        text-align: center;
        font-size: 1.4em;
        color: #951856 } }
#history {
  background-color: #B53C76;
  padding-bottom: 30px; }
  #history .title {
    letter-spacing: 0.1em;
    line-height: 1.75em;
    text-transform: uppercase;
    text-align: center;
    padding: 15px;
    font-size: 34pt;
    color: white; }
  #history .flex-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between; }
    #history .flex-container .title {
      letter-spacing: 0.1em;
      line-height: 1.75em;
      text-transform: uppercase;
      text-align: center;
      padding: 15px;
      font-size: 34pt;
      color: white; }
    #history .flex-container .flex-box {
      flex: 45%;
      width: 45%;
      background-color: #F4F4F4;
      margin: 10px;
      padding: 15px;
      box-shadow: 0 0 15px grey;
      border-radius: 2px; }
      #history .flex-container .flex-box .icons {
        text-align: center; }
      #hisotry .flex-container .flex-box .subtitle {
        text-align: center;
        font-size: 1.4em;
        color: #951856 } }
#science {
  background-color: #B53C76;
  padding-bottom: 30px; }
  #science .title {
    letter-spacing: 0.1em;
    line-height: 1.75em;
    text-transform: uppercase;
    text-align: center;
    padding: 15px;
    font-size: 34pt;
    color: white; }
  #science .flex-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between; }
    #science .flex-container .title {
      letter-spacing: 0.1em;
      line-height: 1.75em;
      text-transform: uppercase;
      text-align: center;
      padding: 15px;
      font-size: 34pt;
      color: white; }
    #science .flex-container .flex-box {
      flex: 45%;
      width: 45%;
      background-color: #F4F4F4;
      margin: 10px;
      padding: 15px;
      box-shadow: 0 0 15px grey;
      border-radius: 2px; }
      #science .flex-container .flex-box .icons {
        text-align: center; }
      #science .flex-container .flex-box .subtitle {
        text-align: center;
        font-size: 1.4em;
        color: #951856 } }
#worldlanguage {
  background-color: #B53C76;
  padding-bottom: 30px; }
  #worldlanguage .title {
    letter-spacing: 0.1em;
    line-height: 1.75em;
    text-transform: uppercase;
    text-align: center;
    padding: 15px;
    font-size: 34pt;
    color: white; }
  #worldlanguage .flex-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between; }
    #worldlanguage .flex-container .title {
      letter-spacing: 0.1em;
      line-height: 1.75em;
      text-transform: uppercase;
      text-align: center;
      padding: 15px;
      font-size: 34pt;
      color: white; }
    #worldlanguage .flex-container .flex-box {
      flex: 45%;
      width: 45%;
      background-color: #F4F4F4;
      margin: 10px;
      padding: 15px;
      box-shadow: 0 0 15px grey;
      border-radius: 2px; }
      #worldlanguage .flex-container .flex-box .icons {
        text-align: center; }
      #worldlanguage .flex-container .flex-box .subtitle {
        text-align: center;
        font-size: 1.4em;
        color: #951856 } }